


$menu: "(min-width: 1000px)";
$navgone: "(max-width: 1000px)";
$introgone: "(max-width: 1000px)";
$stablets: "(min-width: 481px) and (max-width: 800px)";
$allphones: "(min-width: 0px) and (max-width: 480px)";
$lphones: "(min-width: 376px) and (max-width: 415px)";
$mphones: "(min-width: 321px) and (max-width: 375px)";
$xsphones: "(max-width: 320px)";
$tablets: "(max-width: 850px)";